body {
    background: #E9E3E6;
}

#map {
  height: 460px;
  border: 1px solid #ccc;
}

#info-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
}

.container {
    width: 70%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
